.operation {
    height: 28px;
    padding: 10px;
}
.display{
    padding: 10px;
    min-height: 50px;
    font-size: 2em;
}
.big-display{
    background-color: #fff;
    border:2px solid gray
}
.calculator {
    max-width: 400px;
    padding: 20px;
    background-color: #d7d7d7;
    margin: 20px auto;
    border-radius: 10px;
}

body {
    background-color: black;
}